@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 24 9.8% 10%;
    --foreground: 0 0% 98%;
  }
}

body {
  @apply bg-white dark:bg-[#0a0a0a] text-zinc-900 dark:text-zinc-50;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}